<!DOCTYPE html>
<html>
    <head>
        <title>New Tamagotchi!</title>
    </head>
    <body>
        <h1>Your new Tamagotchi has been created!</h1>
        <p>It's name is:{{ newtamagotchi.getName() }}</p>
        <p><a href='/'>Check on your Tamagotchi</a></p>
    </body>
</html>
