<!DOCTYPE html>
<html>
    <head>
        <title>Your Tamagotchi has passed away</title>
    </head>
    <body>
        <h1>Your Tamagotchi has gone to the big farm in the sky</h1>
        <p><a href='/'>Create new Tamagotchi</p>
    </body>
</html>
