<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Tamagotchi</title>
    </head>
    <body>
        <div class="container">
            <h1>Your Tamagotchi has descended :/</h1>
            <p><a href='/'>
                <button type='button' class='btn btn-default'>Create New Tamagotchi</button>
            </a>
            </p>
        </div>
    </body>
</html>
