<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Tamagotchi</title>
    </head>
    <body>
        <div class="container">
        <h1>Tamagotchi</h1>

            {% if tamagotchi is empty %}
                <form action='/tamagotchi' method='post'>
                    <div class="form-group">
                        <label for='name'>Name your new Tamagotchi:</label></br>
                        <input id='name' name='name' class="form-control" type='text'>
                    </div>
                    <button type='submit' class="btn btn-default">Submit</button>
                </form>
            {% else %}

                {% if tamagotchi[0].checkDeath %}
                    <h2>Sorry Your Tamagotchi is Dead</h2>
                    <form action='/kill_tamagotchi' method='post'>
                        <button type='submit'>Create New Tamagotchi</button>
                    </form>
                {% endif %}

                <h3><font color="red">{{ tamagotchi[0].getName }}</font>'s current status:</h3>
                <p> Food Level: {{ tamagotchi[0].getFood }}</p>
                <p> Happiness Level: {{ tamagotchi[0].getPlay }}</p>
                <p>Sleep Level: {{ tamagotchi[0].getSleep }}</p>

                <br>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <form action='/feed_tamagotchi' method='post'>
                            <button type='submit' class="btn btn-default">Feed</button>
                        </form>
                    </div>
                    <div class="btn-group" role="group">
                        <form action='/play_tamagotchi' method='post'>
                            <button type='submit' class="btn btn-default">Play</button>
                        </form>
                    </div>
                    <div class="btn-group" role="group">
                        <form action='/sleep_tamagotchi' method='post'>
                            <button type='submit' class="btn btn-default">Bedtime</button>
                        </form>
                    </div>
                    <div class="btn-group" role="group">
                        <form action='/skip_time' method='post'>
                            <button type='submit' class="btn btn-default">Skip Time</button>
                        </form>
                    </div>
                    <div class="btn-group" role="group">
                        <form action='/kill_tamagotchi' method='post'>
                            <button type='submit' class="btn btn-default">Set Free</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </body>
</html>
